.header {
    text-align: center;
    border:0.1em solid black;
    padding: 0.3em;
    font-family: "Poppins";
    background-color: white;
    border-radius: 10px;
}   
body {
    background-color: gainsboro;
}