.navbar {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 2em;    
    margin-bottom: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}
a {
    text-decoration: none; 
    color: white;
    margin-left: 2em;
}
.container {
    width: 20em;
    height: 20em;
    background-color: black;
    padding-top:15em ;
    margin-left:-5em ;
}